.edit-layout-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.toolbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.toolbox h3 {
    text-align: center;
}

.toolbox-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    flex: 1 1 auto;
    border-radius: 5px;
}

.highlight-toolbox {
    background-color: #444;
}

.modular-element {
    text-align: center;
}

.toolbox-item {
    width: 4rem;
    height: 4rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor:move;
}

.toolbox-item .resize-up {
    display:none;
}

.toolbox-item .resize-down {
    display: none
}

.toolbox-item .resize-right {
    display: none;
}

.toolbox-item .resize-left {
    display: none;
}

.edit-grid {
    flex: 7;
    background:
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 10% 20%; /* Density of the grid cells */
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
    padding: 0 !important;
}

.highlighted-cell {
    background-color: rgba(255, 255, 255, 0.3); 
    grid-column: -1; /* This is with the intention to be set solely by the script */ 
    grid-row: -1; /* This is with the intention to be set solely by the script */
    z-index: 1; 
    pointer-events: none; 
}

.grid-item {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.grid-item .resize-up {
    display:block;
}

.grid-item .resize-down {
    display:block;
}

.grid-item .resize-right {
    display:block;
}

.grid-item .resize-left {
    display:block;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.4);
}

.resize-up {
    width: 75%;
    height: 1rem;
    cursor: n-resize;
    z-index: 5;
    position:relative
}

.resize-up:active {
    opacity: 0;
    cursor: n-resize;
}

.resize-down {
    width: 75%;
    height: 1rem;
    cursor: n-resize;
}

.resize-down:active {
    opacity: 0;
    cursor: n-resize;
}

.horizontal-resize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.resize-right {
    width: 1rem;
    height: 100%;
    cursor: w-resize;
}

.resize-right:active {
    opacity: 0;
    cursor: w-resize;
}

.resize-left {
    width: 1rem;
    height: 100%;
    cursor: w-resize;
}

.resize-left:active {
    opacity: 0;
    cursor: w-resize;
}

.resize-up:hover, .resize-down:hover, .resize-right:hover, .resize-left:hover {
    background-color: rgba(255, 238, 0, 0.5)
}
