/*
HOME PAGE CONTENT START
*/

.home-top-ranked-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 8;
    padding: 0;
    height: auto;
    box-sizing: border-box;

}

.home-top-ranked-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    height: auto;
    box-sizing: border-box;
}



.home-top-ranked-list {
    display: flex;
    height: 85%;
    justify-content: space-evenly;
    flex-direction: column;
}


.home-top-ranked-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-top-ranked-row p {
    margin: 0;
}

.home-chart {
    flex: 8;
    margin: 2rem;
}

.top-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 0.75rem 1rem;
}

.top-set-name{
    width: 5rem;
}

.top-set img {
    max-width: 3rem;
    height: auto;
    margin: 0.5rem 1rem;
}

.top-set h5 {
    color: rgb(173, 173, 173);
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    align-content: center;
    text-align: center;
}

.top-set p {
    text-align: center;
    align-content:center;
}

.positive-change
{
    color: #3EA341;
}
.negative-change
{
    color: #FF433D;
}

.top-ranked-news-container {
    width: 400px;
    margin: 20px auto;
    border: 1px solid #FFA500;
    padding: 0;
}
.top-ranked-news-header {
    background-color: #FFA500;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

.news-title {
    color: #FFA500;
    font-weight: bold;
}
.type {
    color: red;
    text-align: center;
}
.time {
    color: #ccc;
    text-align: right;
}
.row {
    border-top: 1px solid #333;
}

.home-container{
    width: 690px;
    height: 365px;
}

.chart-container {
    width: 690px;
    height: 480px;
}

.price-table{
    height: 975px;
    width: 500;
    overflow: auto;
}

/*
HOME PAGE CONTENT END
*/