.profile-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 10;
    padding: 0;
    height: auto;
    box-sizing: border-box;

}

.profile-subcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 1000px;
    box-sizing: border-box;
}

.profile-left-box {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.profile-username{
    padding: 20px;
    font-size: large;
}

.profile-box{
    border: 1px solid white;
    border-radius: 0.3rem;
    margin: 1rem;
    padding: 1rem;
}

.set-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.set-item {
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 10;
}
.set-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.set-item h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #fff;
}
.set-item p {
    font-size: 14px;
    margin: 0;
    color: #fff;
}


