.profile-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 10;
    padding: 0;
    height: auto;
    box-sizing: border-box;

}

.profile-subcontainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 1000px;
    box-sizing: border-box;
}

.profile-left-box {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.profile-username{
    padding: 20px;
    font-size: large;
}

